body {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(48, 53, 126);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(103, 133, 216);
  padding: 2rem;
}

button {
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-top: 2rem;
  font-size: 16px;
  border-radius: 8px;
  padding: 14px 24px;
  background: rgb(73, 73, 155);
  color: white;
}
